# Python
__pycache__/
*.py[cod]
*.db
*.sqlite3
*.log

# Ambientes virtuais
venv/
env/

# IDEs e editores
.vscode/
.idea/

# Arquivos de ambiente e configs
.env
.env.*

# Docker
*.pid
*.tar
docker-compose.override.yml

# macOS
.DS_Store

# Testes
.coverage
pytest_cache/
htmlcov/

# FastAPI / Uvicorn
instance/
